<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cartao-heading" jhiTranslate="projetoDojoCartoesApp.cartao.home.createOrEditLabel">Create or edit a Cartao</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoDojoCartoesApp.cartao.ndigitos" for="field_ndigitos">Ndigitos</label>
                    <input type="text" class="form-control" name="ndigitos" id="field_ndigitos"
                           formControlName="ndigitos"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoDojoCartoesApp.cartao.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="BLOQUEADO">{{ 'projetoDojoCartoesApp.StatusCartao.BLOQUEADO' | translate }}</option>
                        <option value="LIBERADO">{{ 'projetoDojoCartoesApp.StatusCartao.LIBERADO' | translate }}</option>
                        <option value="ROUBADO">{{ 'projetoDojoCartoesApp.StatusCartao.ROUBADO' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoDojoCartoesApp.cartao.nometitular" for="field_nometitular">Nometitular</label>
                    <input type="text" class="form-control" name="nometitular" id="field_nometitular"
                           formControlName="nometitular"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoDojoCartoesApp.cartao.codseguranca" for="field_codseguranca">Codseguranca</label>
                    <input type="number" class="form-control" name="codseguranca" id="field_codseguranca"
                           formControlName="codseguranca"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoDojoCartoesApp.cartao.limitecredito" for="field_limitecredito">Limitecredito</label>
                    <input type="number" class="form-control" name="limitecredito" id="field_limitecredito"
                           formControlName="limitecredito"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoDojoCartoesApp.cartao.datavencimento" for="field_datavencimento">Datavencimento</label>
                    <div class="input-group">
                        <input id="field_datavencimento" type="text" class="form-control" name="datavencimento" ngbDatepicker #datavencimentoDp="ngbDatepicker" formControlName="datavencimento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datavencimentoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoDojoCartoesApp.cartao.pessoa" for="field_pessoa">Pessoa</label>
                    <select class="form-control" id="field_pessoa" name="pessoa" formControlName="pessoa">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id === editForm.get('pessoa')!.value?.id ? editForm.get('pessoa')!.value : pessoaOption" *ngFor="let pessoaOption of pessoas; trackBy: trackById">{{ pessoaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
